<div class="container">
  <h2 class="my-3 ml-3">
    Sign up
  </h2>
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-md-4 bg-light text-center">
      <p>さあ、冒険にでかけよう！</p>
    </div>
    <div class="col-md-4">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true  do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, placeholder:'大喜利　伝説', class:'form-control' %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, placeholder:'oogiri@legend.com', autocomplete: "email", class:'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
        </div>

        <div class="actions mt-3">
          <%= f.submit "新規登録", class:'btn btn-success btn-block' %>
        </div>
      <% end %>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
