<% themes.each do |theme| %>
  <div class="card mb-4">
    <div class="card-title ml-3 mt-3">
      <% if theme.user.admin? %>
        <%= image_tag 'logo_icon.png', :size =>'25x25' %>
        大喜利レジェンドロード管理者
      <% else %>
        <%= link_to user_path(theme.user_id), class:'text-dark' do %>
          <%= attachment_image_tag theme.user, :profile_image, :fill, 25, 25, fallback: "no_image.png", size: '25x25', class:"rounded-circle" %>
          <%= theme.user.name %>【<%= User.total_exp_title(User.total_exp(theme.user)) %>】
        <% end %>
      <% end %>
    </div>
    <%= link_to theme_path(theme), class:'text-dark text-decoration-none' do %>
      <div class="card-body border-bottom text-center">
        <%= attachment_image_tag theme, :image, class:'card-img-top w-75' %>
        <h4><%= theme.content %></h4>
      </div>
    <% end %>
    <div class="card-body text-center mx-auto mt-3">
      <%= link_to '　回答する ', theme_path(theme.id), class:'answer-btn text-decoration-none' %>
    </div>
    <div class="card-body d-flex justify-content-around">
      <%= link_to theme_path(theme.id), class:'text-dark' do %>
        回答数:<%= theme.answers.answer_status?.count %>
      <% end %>
      公開日時:<%= theme.updated_at.to_s(:datetime_jp) %>
    </div>
  </div>
<% end %>