<%= form_with model: theme do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div class="form-group">
    <%= f.label :image, 'お題画像' %><br>
    <%= f.attachment_field :image %>
  </div>
  <div class="form-group">
    <%= f.label :content, 'お題' %>
    <%= f.text_area :content, autofocus: true, placeholder:'みんなに回答してもらえるお題を提案してみよう！', class:'form-control' %>
  </div>
  <%= f.submit '提案' %>
<% end %>