<div class="container">
  <div class="row">
    <div>
      <%= link_to user_path(@theme.user_id) do %>
        <%= @theme.user.name %>
      <% end %>
      <%= attachment_image_tag @theme, :image, size: '300x150' %>
      <%= @theme.content %>
      <%= @theme.answers.count %>回答数
      <%= @theme.updated_at.to_s(:datetime_jp) %>
      <% if current_user.id == @theme.user_id %>
        <%= link_to '削除', theme_path(@theme), method: :delete, data: {confirm: "本当に削除しますか？"} %>
      <% end %>
    </div>
    <div>
      <%= form_with(model:[@theme,@answer], local: true) do |f| %>
        <%= f.text_area :content,rows:'5', placeholder:"ひらめいたらここに投稿してみよう" %>
        <%= f.submit "投稿" %>
      <% end %>
    </div>
    <div>
      <!--回答一覧-->
    <% if @theme.answers.present? %>
      <% @theme.answers.each do |answer| %>
        <%= answer.content %>
        <%= link_to user_path(answer.user_id) do %>
          <%= answer.user.name %>
        <% end %>
        <% if answer.user == current_user %>
          <%= link_to "削除", theme_answer_path(answer.theme, answer), method: :delete, data: {confirm: "本当に削除しますか？"} %>
        <% end %>
      <% end %>
    <% else %>
      まだ回答がありません
    <% end %>
    </div>
  </div>
</div>