<div class="container">
  <h2 class="my-3 ml-3 heading">
    Theme
  </h2>
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="card mb-3">
        <div class="card-title ml-3 mt-3">
          <% if @theme.user.admin? %>
            <%= image_tag 'logo_icon.png', :size =>'25x25' %>
            大喜利レジェンドロード管理者
          <% else %>
            <%= link_to user_path(@theme.user_id), class:'text-dark' do %>
              <%= attachment_image_tag @theme.user, :profile_image, :fill, 25, 25, fallback: "no_image.png", size: '25x25', class:"rounded-circle" %>
              <%= @theme.user.name %>【<%= @total_exp_title %>】
            <% end %>
          <% end %>
        </div>
        <div class="card-body border-bottom text-center">
          <%= attachment_image_tag @theme, :image, size: '300x150' %>
          <h4><%= @theme.content %></h4>
        </div>
        <!--回答数非同期に連動-->
        <div id="theme_information">
          <%= render 'themes/information', theme: @theme %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 mx-auto my-3">
      <% if user_signed_in? %>
        <%= render 'answers/form', theme: @theme, answer: @answer %>
      <% else %>
        <%= form_with do |f| %>
          <%= f.text_area :content, placeholder:"ひらめいたら投稿してみよう！", autofocus: true, class:'form-control' %>
        <% end %>
        <div class="d-flex justify-content-center">
          <%= link_to 'ログインして大喜利にチャレンジしてみよう!', new_user_session_path, class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-10 mx-auto">
      <!--回答一覧非同期-->
      <div id="answers_area">
        <%= render 'answers/theme_answers', theme: @theme, answers: @answers %>
      </div>
    </div>
  </div>
</div>