<% likes.each do |like| %>
  <div class="card mb-3">
    <div class="card-title ml-3 mt-3">
      <% if like.answer.theme.user.admin? %>
        <%= image_tag 'logo_icon.png', :size =>'25x25' %>
        大喜利レジェンドロード管理者
      <% else %>
        <%= link_to user_path(like.answer.theme.user.id), class:'text-dark' do %>
          <%= attachment_image_tag like.answer.theme.user, :profile_image, :fill, 25, 25, fallback: "no_image.png", size: '25x25', class:"rounded-circle" %>
          <%= like.answer.theme.user.name %>【<%= User.total_exp_title(User.total_exp(like.answer.theme.user)) %>】
        <% end %>
      <% end %>
    </div>
    <%= link_to theme_path(like.answer.theme), class:'text-dark text-decoration-none' do %>
      <div class="card-body text-center">
        <%= attachment_image_tag like.answer.theme, :image, class:'card-img-top w-75' %>
      <h4><%= like.answer.theme.content %></h4>
      </div>
    <% end %>
    <div class="card-body border-bottom d-flex justify-content-around">
      <%= link_to theme_path(like.answer.theme.id), class:'text-dark' do %>
        回答数:<%= like.answer.theme.answers.answer_status?.count %>
      <% end %>
      公開日時:<%= like.answer.theme.updated_at.to_s(:datetime_jp) %>
    </div>
    <div class="card-body text-center mt-4">
      <h4><%= like.answer.content %></h4>
    </div>
    <div class="card-body text-right">
      <%= link_to user_path(like.answer.user_id), class:'text-dark' do %>
        <%= attachment_image_tag like.answer.user, :profile_image, :fill, 25, 25, fallback: "no_image.png", size: '25x25', class:"rounded-circle" %>
        <%= like.answer.user.name %>【<%= User.total_exp_title(User.total_exp(like.answer.user)) %>】
      <% end %>
      <div>
        <i class="fas fa-thumbs-up"></i><%= like.answer.likes.count %> Amazing
      </div>
      回答日時:<%= like.answer.created_at.to_s(:datetime_jp) %>
    </div>
  </div>
<% end %>