<div class="container">
  <div class="row">
    Amazings
    <% @likes.each do |like| %>
      <div>
        <%= link_to user_path(like.answer.theme.user.id) do %>
          <%= like.answer.theme.user.name %>
        <% end %>
        <%= attachment_image_tag like.answer.theme, :image %>
        <%= like.answer.theme.content %>
        <%= like.answer.content %>
        <%= link_to user_path(like.answer.user_id) do %>
          <%= like.answer.user.name %>
        <% end %>
        <% if like.answer.liked_by?(current_user) %>
          ♥<%= like.answer.likes.count %>いいね
        <% else %>
          <%= link_to theme_answer_likes_path(like.answer.theme,like.answer), method: :post do %>
            ♡<%= like.answer.likes.count %>いいね
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>