<table class="table mb-5 table-light table-hover">
  <thead class="thead-dark">
    <tr>
      <th>順位</th>
      <th>ユーザー</th>
      <th class="d-none d-md-table-cell">称号</th>
      <th>経験値</th>
      <th class="d-none d-md-table-cell">回答数</th>
      <th>Amaizing</th>
    </tr>
  </thead>
  <tbody>
    <% user_ranks.each.with_index(1) do |user, i| %>
      <tr>
        <td><i class="fas fa-crown d-none d-md-inline-block"></i><%= i %>位</td>
        <td>
          <%= link_to user_path(user), class:'text-dark' do %>
            <%= attachment_image_tag user, :profile_image, :fill, 25, 25, fallback: "no_image.png", size: '25x25', class:"rounded-circle" %>
            <%= user.name %>
          <% end %>
        </td>
        <td class="d-none d-md-table-cell">【<%= User.total_exp_title(User.total_exp(user)) %>】</td>
        <td><%= User.time_total_exp(user, Time.current.all_week) %></td>
        <td class="d-none d-md-table-cell"><%= User.time_answer_count(user, Time.current.all_week) %></td>
        <td><%= User.time_answer_like_count(user, Time.current.all_week) %></td>
      </tr>
    <% end %>
  </tbody>
</table>