<div class="container">
  <div class="row">
    <div class="col-5">
      <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, fallback: "no_image.png", size: '150x150' %>
    </div>
    <div class="col-7">
      <%= form_with model: @user, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group">
          <%= f.label :profile_image, 'プロフィール画像' %><br>
          <%= f.attachment_field :profile_image %>
        </div>
        <div class="form-group">
          <%= f.label :name, '名前' %>
          <%= f.text_field :name, autofocus: true, class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.text_field :email, class:'form-control' %>
        </div>
        <%= f.submit '変更を保存' %>
      <% end %>
    </div>
  </div>
</div>