<div class="container">
  <% if @user == current_user %>
    <h2 class="my-3 ml-3 heading">
      My page
    </h2>
  <% else %>
    <h2 class="my-3 ml-3 heading">
      <%= @user.name %> 's page
    </h2>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="mb-5 mx-auto">
        <%= attachment_image_tag @user, :profile_image, :fill, 250, 250, fallback: "no_image.png", size: '250x250', class:"rounded-circle" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <table class="table table-dark table-borderless">
          <tr>
            <th>
              <i class="far fa-user"></i>ユーザー名
            </th>
            <td class='table-light text-dark'><%= @user.name %></td>
          </tr>
          <tr>
            <th>
              <i class="fas fa-medal"></i>称号
            </th>
            <td class='table-light text-dark'>
              【<%= @total_exp_title %>】
            </td>
          </tr>
          <tr>
            <th>
              <i class="fas fa-chart-line"></i>経験値
            </th>
            <td class='table-light text-dark'>
              <%= @total_exp %>
            </td>
          </tr>
          <tr>
            <th>
              <i class="far fa-lightbulb"></i>回答数
            </th>
            <td class='table-light text-dark'>
              <%= @user.answers.answer_status?.count %>
            </td>
          </tr>
          <tr>
            <th>
              <i class="far fa-thumbs-up"></i>Amazings数
            </th>
            <td class='table-light text-dark'>
              <%= @answer_like_count %>
            </td>
          </tr>
          <tr>
            <th>
              <i class="fas fa-pencil-alt"></i>採用お題数
            </th>
            <td class='table-light text-dark'>
              <%= @theme_count %>
            </td>
          </tr>
        </table>

      </div>
    </div>
    <div class="row mb-5 d-flex justify-content-center">
      <div class="col-md-12 text-center">
        <% if @user == current_user %>
          <%= link_to '編集', edit_user_path(@user), class:"fas fa-user-edit btn btn-secondary my-2 ml-2" %>
          <%= link_to 'お題提案', new_theme_path, class:"fas fa-pencil-alt btn btn-primary my-2 ml-2" %>
          <%= link_to 'MyAmazings', likes_path, class:"fas fa-thumbs-up btn btn-danger my-2 ml-2" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 mx-auto mb-5">
      <h5 class="my-3 ml-3 heading">
        My answers
      </h5>
      <% if @answers.present? %>
        <%= render 'answers/list', answers: @answers %>
      <% else %>
        <p class="text-center mt-3">まだ回答がありません</p>
      <% end %>
    </div>
  </div>
</div>