<div class="container">
  <div class="row">
    <% if @user == current_user %>
      マイページ
    <% else %>
      <%= @user.name %>さんのページ
    <% end %>
    <div>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.png", size: '60x60' %>
      <table class="table">
        <tr>
          <th>name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>称号</th>
          <td>
            経験値に応じて変更
          </td>
        </tr>
        <tr>
          <th>経験値</th>
          <td>
            回答のいいね数＋お題のTRUEの数
          </td>
        </tr>
        <tr>
          <th>回答数</th>
          <td>
            <%= @user.answers.count %>
          </td>
        </tr>
        <tr>
          <th>いいね平均</th>
          <td>
            投稿数/いいね数でアベレージ
          </td>
        </tr>
      </table>
      <% if @user == current_user %>
        <%= link_to '編集', edit_user_path(@user) %>
        <%= link_to 'お題登録', new_theme_path %>
        <%= link_to 'MyAmazings', likes_path %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @answers.each do |answer| %>
    <div>
      <%= link_to user_path(answer.theme.user.id) do %>
        <%= answer.theme.user.name %>
      <% end %>
      <%= attachment_image_tag answer.theme, :image %>
      <%= answer.theme.content %>
      <%= answer.content %>
      <%= link_to user_path(answer.user_id) do %>
        <%= answer.user.name %>
      <% end %>
      <% if answer.liked_by?(current_user) %>
        ♥<%= answer.likes.count %>いいね
      <% else %>
        <%= link_to theme_answer_likes_path(answer.theme,answer), method: :post do %>
          ♡<%= answer.likes.count %>いいね
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>