<div class="container">
  <% if @user == current_user %>
    マイページ
  <% else %>
    <%= @user.name %>さんのページ
  <% end %>
  <div class="row justify-content-center">
    <div class="col-6 d-flex justify-content-center">
      <div>
        <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, fallback: "no_image.png", size: '150x150' %>
      </div>
    </div>
    <div class="col-6">
      <div>
        <table class="table">
          <tr>
            <th>name</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>称号</th>
            <td>
              【<%= @total_exp_title %>】
            </td>
          </tr>
          <tr>
            <th>経験値</th>
            <td>
              <%= @total_exp %>
            </td>
          </tr>
          <tr>
            <th>回答数</th>
            <td>
              <%= @user.answers.count %>
            </td>
          </tr>
          <tr>
            <th>Amazings数</th>
            <td>
              <%= @answer_like_count %>
            </td>
          </tr>
          <tr>
            <th>採用お題数</th>
            <td>
              <%= @theme_count %>
            </td>
          </tr>
        </table>
        <% if @user == current_user %>
          <%= link_to '編集', edit_user_path(@user) %>
          <%= link_to 'お題登録', new_theme_path %>
          <%= link_to 'MyAmazings', likes_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <%= render 'answers/list', answers: @answers %>
    </div>
  </div>
</div>