<% answers.each do |answer| %>
  <div class="card mb-3">
    <div class="card-title">
      お題投稿者:
      <%= link_to user_path(answer.theme.user.id) do %>
        <%= answer.theme.user.name %>【<%= User.total_exp_title(User.total_exp(answer.theme.user)) %>】
      <% end %>
    </div>
    <%= link_to theme_path(answer.theme) do %>
      <div class="card-body text-center">
        <%= attachment_image_tag answer.theme, :image, class:'card-img-top w-75' %>
        <h4><%= answer.theme.content %></h4>
      </div>
    <% end %>
    <div class="card-body text-left border-bottom">
      回答数:<%= answer.theme.answers.count %>
    </div>
    <div class="card-body text-center">
      <h4><%= answer.content %></h4>
    </div>
    <div class="card-body text-right">
      回答者:
      <%= link_to user_path(answer.user_id) do %>
        <%= answer.user.name %>【<%= User.total_exp_title(User.total_exp(answer.user)) %>】
      <% end %>
      <% if user_signed_in? %>
        <% if answer.user == current_user %>
          ♡<%= answer.likes.count %>いいね
          <% if answer.likes.count == 0 %>
            <%= link_to "削除", theme_answer_path(answer.theme, answer), method: :delete, data: {confirm: "本当に削除しますか？"} %>
          <% end %>
        <% else %>
          <% if answer.liked_by?(current_user) %>
            ♥<%= answer.likes.count %>いいね
          <% else %>
            <%= link_to theme_answer_likes_path(answer.theme,answer), method: :post do %>
              ♡<%= answer.likes.count %>いいね
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= answer.likes.count %>いいね
      <% end %>
    </div>
  </div>
<% end %>