<% if theme.answers.present? %>
  <!--同率順位表示-->
  <% last_like = 0 %>
  <% j = 1 %>
  <% answers.each.with_index(1) do |answer, i| %>
    <div class="card mb-3">
      <div class="card-title ml-2 mt-2">
        <!--最後の値をlast_likeに保存-->
        <% if i == 1 %>
          <% last_like = answer.likes.count %>
        <% end %>
        <!--last_likeといいね数比べて同じなら同じ順位、違うなら次の順位表示-->
      　<% if answer.likes.count != last_like %>
          <% j = i %>
          <i class="fas fa-crown"></i><%= j %>位
          <% last_like = answer.likes.count %>
        <% else %>
          <% last_like = answer.likes.count %>
          <i class="fas fa-crown"></i><%= j %>位
        <% end %>
      </div>
      <div class="card-body text-center mt-3">
        <h4><%= answer.content %></h4>
      </div>
      <div class="card-body text-right">
        <%= link_to user_path(answer.user_id), class:'text-dark' do %>
          <%= attachment_image_tag answer.user, :profile_image, :fill, 25, 25, fallback: "no_image.png", size: '25x25', class:"rounded-circle" %>
          <%= answer.user.name %>【<%= User.total_exp_title(User.total_exp(answer.user)) %>】
        <% end %>
        <% if user_signed_in? %>
          <% if answer.user == current_user %>
            <div>
              <i class="far fa-thumbs-up"></i><%= answer.likes.count %> Amazing
            <% if answer.likes.count == 0 %>
              <%= link_to theme_answer_path(answer.theme, answer), method: :delete, remote: true, data: {confirm: "本当に削除しますか？"} do %>
                <i class="fas fa-trash-alt text-secondary ml-2 fa-lg"></i>
              <% end %>
            <% end %>
            </div>
          <% else %>
            <!--いいね機能非同期-->
            <div class="likes_buttons_<%= answer.id %>">
              <%= render 'likes/like', answer: answer %>
            </div>
          <% end %>
        <% else %>
          <i class="far fa-thumbs-up"></i><%= answer.likes.count %> Amazing
        <% end %>
        回答日時:<%= answer.created_at.to_s(:datetime_jp) %>
      </div>
    </div>
  <% end %>
<% else %>
  <h4 class="text-center mt-3 mb-5">まだ回答がありません</h4>
<% end %>