<div class="container">
  <div class="row">
    <% @answers.each do |answer| %>
    <div>
      <%= link_to user_path(answer.theme.user.id) do %>
        <%= answer.theme.user.name %>
      <% end %>
      <%= attachment_image_tag answer.theme, :image %>
      <%= answer.theme.content %>
      <%= answer.content %>
      <%= link_to user_path(answer.user_id) do %>
        <%= answer.user.name %>
      <% end %>
      <% if answer.liked_by?(current_user) %>
        ♥<%= answer.likes.count %>いいね
      <% else %>
        <%= link_to theme_answer_likes_path(answer.theme,answer), method: :post do %>
          ♡<%= answer.likes.count %>いいね
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>