<div class="container">
  <h2 class="my-3 ml-3 heading">
    Answers
  </h2>
  <div class="row mb-5">
    <div class="col-sm-10 mx-auto">
        <ul class="tab-list d-flex justify-content-around text-center list-unstyled mx-3">
          <li class="tab tab-active heading">
            New
          </li>
          <li class="tab heading">
            Amazing
          </li>
          <li class="tab heading">
            Pick up
          </li>
        </ul>
        <div class="tabbox-contents">
          <div class="tabbox box-show">
            <!--無限スクロール-->
            <div class="scroll-list jscroll new-tab" tab=".new-tab">
              <%= render 'answers/list', answers: @new_answers %>
              <%= paginate @new_answers, param_name: "new_page" %>
            </div>
          </div>
          <div class="tabbox">
            <!--無限スクロール-->
            <div class="scroll-list jscroll popular-tab" tab=".popular-tab">
              <%= render 'answers/list', answers: @popular_answers %>
              <%= paginate @popular_answers, param_name: "popular_page" %>
            </div>
          </div>
          <div class="tabbox">
            <!--無限スクロール-->
            <div class="scroll-list jscroll pick-up-tab" tab=".pick-up-tab">
              <% if @pick_up_answers.present? %>
                <%= render 'answers/list', answers: @pick_up_answers %>
                <%= paginate @pick_up_answers, param_name: "pick_up_page" %>
              <% else %>
                <p class="text-center mt-3 mb-5">今週のアクションがまだありません。</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>