<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto text-center my-5">
      <%= image_tag 'logo_image.png', class:'col' %>
      <p class="mt-5">
        大喜利の実力で、最高の称号【レジェンド】を目指そう！
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4 mx-auto">
      <h5 class="my-3 ml-3 heading ">
        Themes
      </h5>
      <ul class="tab-list d-flex justify-content-around text-center list-unstyled mx-3">
        <li class="tab tab-active heading">
          New
        </li>
        <li class="tab heading">
          Pick up
        </li>
      </ul>
      <div class="tabbox-contents">
        <div class="tabbox box-show">
           <%= render 'themes/card', themes: @new_themes %>
        </div>
        <div class="tabbox">
          <% if @pick_up_themes.present? %>
            <%= render 'themes/card', themes: @pick_up_themes %>
          <% else %>
            <p class="text-center mt-3 mb-5">今週のアクションがまだありません。</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-8 mx-auto">
      <h5 class="my-3 ml-3 heading">
        User ranking
      </h5>
      <ul class="tab-list2 d-flex justify-content-around text-center list-unstyled mx-3">
        <li class="tab2 tab2-active heading">
          Experience point
        </li>
        <li class="tab2 heading">
          Amazing
        </li>
      </ul>
      <div class="tabbox2-contents">
        <div class="tabbox2 box2-show">
          <%= render 'users/rank', user_ranks: @total_exp_rank %>
        </div>
        <div class="tabbox2">
          <%= render 'users/rank', user_ranks: @answer_likes_rank %>
        </div>
      </div>
      <h5 class="my-3 ml-3 heading">
        Answers
      </h5>
      <ul class="tab-list3 d-flex justify-content-around text-center list-unstyled mx-3">
        <li class="tab3 tab3-active heading">
          New
        </li>
        <li class="tab3 heading">
          Pick up
        </li>
      </ul>
      <div class="tabbox3-contents">
        <div class="tabbox3 box3-show">
          <%= render 'answers/list', answers: @new_answers %>
        </div>
        <div class="tabbox3">
          <% if @pick_up_answers.present? %>
            <%= render 'answers/list', answers: @pick_up_answers %>
          <% else %>
            <p class="text-center mt-3 mb-5">今週のアクションがまだありません。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>