<div id="loading">
  <div id="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">Loading</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-7 mx-auto text-center my-5">
      <!--スライドショー-->
      <div class="slick">
        <div><%= image_tag 'logo_image.png', class:'col' %></div>
        <div>
          <%= link_to homes_guide_path do %>
            <%= image_tag 'guide_logo_image.jpg', class:'col mt-5' %>
          <% end %>
        </div>
        <div><%= image_tag 'notice_image.png', class:'col mt-5' %></div>
      </div>

    </div>
  </div>
  <div class="row mb-5">
    <div class="col-lg-4 mx-auto">
      <% unless user_signed_in? %>
        <!--退会済みuserのログインエラー-->
        <%= flash[:error] %>
        <h5 class="my-3 ml-3 heading">
          Log in
        </h5>
        <div class="d-flex justify-content-center">
          <%= form_with model: @user, url: user_session_path, local: true do |f| %>
            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, placeholder:'大喜利　太郎', class:'form-control' %>
            </div>
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class:'form-control' %>
            </div>
            <div class="actions mt-3">
              <%= f.submit "Log in", class:'btn btn-success btn-block'%>
            </div>
            <div class="mt-3">
              会員登録がまだの方は<%= link_to 'こちら', new_user_registration_path %>
            </div>
          <% end %>
        </div>
        <div class="text-center mb-5 mt-3">
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:'btn btn-outline-success' %>
        </div>
      <% end %>
      <h5 class="my-3 ml-3 heading">
        Themes
      </h5>
      <ul class="tab-list d-flex justify-content-around text-center list-unstyled mx-3">
        <li class="tab tab-active heading">
          New
        </li>
        <li class="tab heading">
          Pick up
        </li>
      </ul>
      <div class="tabbox-contents">
        <div class="tabbox box-show">
           <%= render 'themes/card', themes: @new_themes %>
        </div>
        <div class="tabbox">
          <% if @pick_up_themes.present? %>
            <%= render 'themes/card', themes: @pick_up_themes %>
          <% else %>
            <p class="text-center mt-3 mb-5">今週のアクションがまだありません。</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-8 mx-auto">
      <h5 class="my-3 ml-3 heading">
        User ranking
      </h5>
      <ul class="tab-list2 d-flex justify-content-around text-center list-unstyled mx-3">
        <li class="tab2 tab2-active heading">
          Experience point
        </li>
        <li class="tab2 heading">
          Amazing
        </li>
      </ul>
      <div class="tabbox2-contents">
        <div class="tabbox2 box2-show">
          <%= render 'users/rank', user_ranks: @total_exp_rank %>
        </div>
        <div class="tabbox2">
          <%= render 'users/rank', user_ranks: @answer_likes_rank %>
        </div>
      </div>
      <h5 class="my-3 ml-3 heading">
        Answers
      </h5>
      <ul class="tab-list3 d-flex justify-content-around text-center list-unstyled mx-3">
        <li class="tab3 tab3-active heading">
          New
        </li>
        <li class="tab3 heading">
          Pick up
        </li>
      </ul>
      <div class="tabbox3-contents">
        <div class="tabbox3 box3-show">
          <%= render 'answers/list', answers: @new_answers %>
        </div>
        <div class="tabbox3">
          <% if @pick_up_answers.present? %>
            <%= render 'answers/list', answers: @pick_up_answers %>
          <% else %>
            <p class="text-center mt-3 mb-5">今週のアクションがまだありません。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>