<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto text-center my-5">
      <%= image_tag 'logo_image.png', class:'col' %>
      <p class="mt-5">
        大喜利の実力で、最高の称号【レジェンド】を目指そう！
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4 mx-auto">
      <h5 class="my-3 ml-3 heading ">
        themes
      </h5>
      <ul class="tab-list d-flex justify-content-around text-center list-unstyled">
        <li class="tab tab-active heading">
          New
        </li>
        <li class="tab heading">
          Popular
        </li>
      </ul>
      <div class="tabbox-contents">
        <div class="tabbox box-show">
           <%= render 'themes/card', themes: @new_themes %>
        </div>
        <div class="tabbox">
          <%= render 'themes/card', themes: @popular_themes %>
        </div>
      </div>
    </div>
    <div class="col-md-8 mx-auto">
      <h5 class="my-3 ml-3 heading">
        User ranking
      </h5>
      <%= render 'users/rank', user_ranks: @total_exp_rank %>
      <h5 class="my-3 ml-3 heading">
        Answers with many likes
      </h5>
      <div class="">
        <%= render 'answers/list', answers: @many_likes_answers %>
      </div>
    </div>
  </div>
</div>