<!DOCTYPE html>
<html>
  <head>
    <title>OogiriLegendroad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/">ロゴ</a>
      <% if user_signed_in? %>
        <a><%= current_user.name %></a>
      <% end %>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to 'お題一覧',themes_path %></li>
          <li><%= link_to '回答一覧',answers_path %></li>
          <li><%= link_to 'ランキング',users_path %></li>
          <li><%= link_to 'マイページ',user_path(current_user) %></li>
          <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, data: {confirm: "本当にログアウトしますか？"} %></li>
          <li><%= link_to 'ガイド',homes_guide_path %></li>
        <% else %>
          <li><%= link_to 'お題一覧',themes_path %></li>
          <li><%= link_to '回答一覧',answers_path %></li>
          <li><%= link_to 'ランキング',users_path %></li>
          <li><%= link_to 'ログイン',new_user_session_path %></li>
          <li><%= link_to '新規登録',new_user_registration_path %></li>
          <li><%= link_to 'ガイド',homes_guide_path %></li>
        <% end %>
      </ul>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <footer>
      <ul>
        <li><%= link_to 'お問い合わせ', new_contact_path %></li>
        <% if user_signed_in? %>
          <% if current_user.try(:admin?) %>
            <li><%= link_to '管理者ログイン', rails_admin_path %></li>
          <% end %>
        <% end %>
      </ul>
    </footer>
  </body>
</html>
